body{
	background: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center center / cover no-repeat;
	padding: 0px;
}

.image {
  width: 100%;
  height: 25em;
  background-size: cover;
  background-position: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1%;
}

.image1 {
  background-image: url(https://i.imgur.com/DtEVKGu.jpg);
}
.image2 {
	background-size: 400px 300px;
	background-repeat: no-repeat;
  background-image: url(https://i.imgur.com/naKX9Hz.png);
}
.image3 {
  background-image: url(https://i.imgur.com/hPqhGFy.jpg);
}
.image4 {
  background-image: url(https://i.imgur.com/ECctVa8.jpg);
}
.image5 {
  background-image: url(https://i.imgur.com/kza64rO.jpg);
}
.image6 {
  background-image: url(https://i.imgur.com/E1objij.jpg);
}
.image7 {
  background-image: url(https://i.imgur.com/s4Lr8rb.jpg);
}
.image8 {
  background-image: url(https://i.imgur.com/j6T9q88.jpg);
}
.image9 {
  background-image: url(https://i.imgur.com/aFvmnWP.jpg);
}